---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import PostsByYear from '../../components/PostsByYear.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

type BlogPost = CollectionEntry<'blog'>;
const title = 'Posts';
const description = 'Articles, guides, tutorials about productivity, DevOps, data-driven applications, life and everything in between.';

const posts = (await getCollection('blog')).sort((a: BlogPost, b: BlogPost) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title={title} description={description}>
	<script>
		import('@zachleat/snow-fall');
		import('@11ty/is-land/is-land.js');
	</script>
	<is-land class='dark:block hidden' on:media='(prefers-reduced-motion: no-preference)'>
		<snow-fall style='--snow-fall-color: white'></snow-fall>
	</is-land>
	<is-land class='dark:hidden block' on:media='(prefers-reduced-motion: no-preference)'>
		<snow-fall style='--snow-fall-color: cornflowerblue'></snow-fall>
	</is-land>
	<div class='container'>
		<div class='mb-10'>
			<h1 class='text-3xl font-bold mb-2'>{title}</h1>
			<p class='text-zinc-700 dark:text-zinc-300 text-lg'>{description}</p>
		</div>
		<PostsByYear posts={posts} />
	</div>
</BaseLayout>
